body{
    margin: 0;
    background : url(./Images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
}

.wrapper{
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
}

.row1{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    /* width: 90%;
    max-width: 750px;
    margin: 0 auto; */
    padding: 1.5em 1.5em;;
    justify-content: space-between;
    position: relative;
}

.row1-ext{
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Cabin', sans-serif;    
    display: flex;
    /* width: 90%;
    max-width: 750px;
    margin: 0 auto; */
    padding: 0.5em 1.5em;;
    justify-content:flex-start;
    vertical-align: middle;
}

#pass-type{
    margin-left: 5px;
}

.row2{
    background-color: rgba(255, 255, 255, 0.8);
    /* width: 90%;
    max-width: 750px;
    margin: 0 auto; */
    padding: 1.5em 1.5em;;
    font-family: 'Cabin', sans-serif;
}

.row3{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    /* width: 90%;
    
    max-width: 750px;
    margin: 0 auto; */
    padding: 1.5em 1.5em;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1em;
    border-top: 1px solid black;
}

.row3-1, .row3-2, .row3-3, .row3-4{
    width: 30%;
}

@media(max-width : 460px)
{
    .row3{
        font-size: 0.8em;
    }
}

.icon{
    margin: 0 0.75em;
}

#passarea{
    border: 1px solid black;
    width: 80%;
    background-color: #0D830D;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: 'Play', sans-serif;
    overflow-x: auto;
} 

.fa{
    cursor: pointer;
}


.row2 input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 2px;;
    background-color: grey;
}

.row2 input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

.passlen-wrapper{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content:flex-start;
}

#password-len-text{
    width: 70%;
    font-size: 1.1em;
    line-height: 27px;
}
#pass-len{
    width: 20%;
    border: 2px solid #0A2E81;
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: #0A2E81;
}


.icon-arrow::before{
    content: "Regenerate";
    font-family: sans-serif;
    font-size: 0.8em;
    position: absolute;
    bottom: 80%;
    color: azure;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.75em 0.75em;
    border-radius: 1em;
    transform: translateX(-25%);
    visibility: hidden;
}

.icon-arrow:hover::before{
    visibility: visible;
}

.icon-copy::before{
    content: attr(data);
    font-family: sans-serif;
    width: var(--width, 90px);
    font-size: 0.8em;
    position: absolute;
    bottom: 80%;
    color: azure;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.75em 0.75em;
    border-radius: 1em;
    transform: translateX(-30%);
    visibility: hidden;
}

.icon-copy:hover::before{
    visibility: visible;
}

footer{
    width: 90%;
    max-width: 780px;
    margin: 0 auto;
    text-align: right;
    font-size: 0.75em;
    font-family: 'Ubuntu Mono', monospace;;
    padding: 0.75em 0.75em;
    color: white;
}